$vinyl-diameter: 125vmin;
$label-diameter: $vinyl-diameter / 3;
$label-radius: $label-diameter / 2;
$hole-diameter: $label-diameter / 10;
$hole-radius: $hole-diameter / 2;

#record {
	position: absolute;
	display: block;
	overflow: hidden;

	height: $vinyl-diameter;
	width: $vinyl-diameter;

	border-radius: 50%;

	top: calc( 50% - #{$vinyl-diameter} / 2 );
	left: calc( 50% - #{$vinyl-diameter} / 2 );

	&, .label {
		will-change: opacity, transform;
	}

	.label, .light {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	.label {
		background: url( images/label-001.png ) no-repeat center;
		background-size: $label-diameter * 0.75;

		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.vinyl {
		position: relative;

		height: $hole-diameter;
		width: $hole-diameter;
		
		box-shadow: 0 0 0 $label-radius white, 0 0 0 $vinyl-diameter / 2 black;

		top: calc( 50% - #{$hole-diameter} / 2 );
		left: calc( 50% - #{$hole-diameter} / 2 );

		border-radius: 50%;
	}
}

@keyframes spin {
	to {
		transform: rotate( 360deg );
	}
}
