$vinyl-diameter: 125vmin;
$label-diameter: $vinyl-diameter / 3;
$label-radius: $label-diameter / 2;
$hole-diameter: $label-diameter / 10;
$hole-radius: $hole-diameter / 2;

#record {
	--label-color: white;

	position: absolute;
	display: block;
	overflow: hidden;

	height: $vinyl-diameter;
	width: $vinyl-diameter;

	border-radius: 50%;

	top: calc( 50% - #{$vinyl-diameter} / 2 );
	left: calc( 50% - #{$vinyl-diameter} / 2 );

	opacity: 0;

	&, .label {
		will-change: opacity, transform;
	}

	.label, .light {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	.label {
		background: no-repeat center;
		background-size: $label-diameter * 0.85;

		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.light {
		--highlight-color: rgba( 255, 255, 255, 0.01 );

		&:before, &:after {
			content: "";

			position: absolute;
			height: 0;
			width: 0;

			top: 20vmin;

			filter: blur( 0.6vmin );
		}

		$highlight-depth: $vinyl-diameter / 2 - $hole-radius;

		// Right-facing
		&:before {
			left: 0vmin;

			border-top: 42.5vmin solid transparent;
			border-bottom: 42.5vmin solid transparent;
			border-left: $highlight-depth solid var( --highlight-color );
		}

		// Left-facing
		&:after {
			right: 0vmin;

			border-top: 42.5vmin solid transparent;
			border-bottom: 42.5vmin solid transparent;
			border-right: $highlight-depth solid var( --highlight-color );
		}
	}

	.vinyl {
		position: relative;

		height: $hole-diameter;
		width: $hole-diameter;

		--vinyl-color: black;
		--groove-color: rgba( 255, 255, 255, 0.04 );

		$stroke-width: 1;
		box-shadow:
			0 0 0 ($hole-radius + 2) var( --label-color ),
			0 0 0 ($hole-radius + 2.2) rgba( 0, 0, 0, 0.1 ),
			0 0 0 ($label-radius - $stroke-width) var( --label-color ),
			0 0 0 ($label-radius) rgba( 0, 0, 0, 0.8 ),
			0 0 0 ($label-radius + $stroke-width) var( --label-color ),

			0 0 0 ($label-radius + $stroke-width + 6) var( --vinyl-color ),

			0 0 0 ($label-radius + $stroke-width + 12) var( --groove-color ),
			0 0 0 ($label-radius + $stroke-width + 12.25) var( --vinyl-color ),
			0 0 0 ($label-radius + $stroke-width + 20) var( --groove-color ),
			0 0 0 ($label-radius + $stroke-width + 20.25) var( --vinyl-color ),
			0 0 0 ($label-radius + $stroke-width + 30) var( --groove-color ),
			0 0 0 ($label-radius + $stroke-width + 30.25) var( --vinyl-color ),

			0 0 0 ($label-radius + $stroke-width + 37.5) var( --groove-color ),

			0 0 0 ($vinyl-diameter / 2) var( --vinyl-color ),
			;

		top: calc( 50% - #{$hole-diameter} / 2 );
		left: calc( 50% - #{$hole-diameter} / 2 );

		border-radius: 50%;
	}
}

@keyframes spin {
	to {
		transform: rotate( 360deg );
	}
}
